<body id="about">
  <a href="/">Home</a>
  <a href="/works">Works</a>
  <a href="/gallery">Gallery</a>
  <a href="/about">About</a>
  <h1>About Jonas Vingegaard</h1>
  <p>Jonas Vingegaard Rasmussen is a Danish cyclist who rides for UCI WorldTeam Team Jumbo–Visma. He won the 2022 edition of the Tour de France. Vingegaard started as a youth rider for various Danish teams, making his breakthrough as a senior rider as part of UCI Continental team ColoQuick–Cult in 2016.</p>
  <img src="https://cdn.mos.cms.futurecdn.net/qSe5PyJzN9NAbazqBEBxcU-1024-80.jpg.webp" style="width:500px;height:500px;"></p>
</body>
