<body id="gallery">
  <a id="gallery" href="/">Home</a>
  <a id="gallery" href="/works">Works</a>
  <a id="gallery" href="/gallery">Gallery</a>
  <a id="gallery" href="/about">About</a>
  <a id="gallery" href="/riders">Riders</a>
  <h1>Gallery</h1>
  <div class="gallery">
    <a target="_blank" href="/img/champselyse.jpg">
      <img src="/img/champselyse.jpg" alt="TourDeFranceWin" width="600" height="400">
    </a>
    <div class="desc">Jonas at the podium in Paris 2022</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/img/denmark.jpeg">
      <img src="/img/denmark.jpeg" alt="DenmarkWin" width="600" height="400">
    </a>
    <div class="desc">Jonas holding Danish flag after win</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="./img/hemamaillote.jpg">
      <img src="./img/hemamaillote.jpg" alt="HemaMaillote" width="600" height="400">
    </a>
    <div class="desc">Jonas Tour de France victory at Luz Ardiden 2021</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="./img/whitewin.jpg">
      <img src="./img/whitewin.jpg" alt="YoungWinner" width="600" height="400">
    </a>
    <div class="desc">Jonas wearing white TdF maillote 2022</div>
  </div>
</body>