<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css"/>
  <title>Gallery</title>
</head>
<body id="gallery">
  <a id="gallery" href="/">Home</a>
  <a id="gallery" href="/works">Works</a>
  <a id="gallery" href="/gallery">Gallery</a>
  <a id="gallery" href="/about">About</a>
  <h1>Gallery</h1>
  <div class="gallery">
    <a target="_blank" href="./public/img/champselyse.jpg">
      <img src="./public/img/champselyse.jpg" alt="TourDeFranceWin" width="600" height="400">
    </a>
    <div class="desc">Jonas at the podium in Paris 2022</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="/public/img/denmark.jpeg">
      <img src="/public/img/denmark.jpeg" alt="DenmarkWin" width="600" height="400">
    </a>
    <div class="desc">Jonas holding Danish flag after win</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../public/img/hemamaillote.jpg">
      <img src="/public/img/hemamaillote.jpg" alt="HemaMaillote" width="600" height="400">
    </a>
    <div class="desc">Jonas Tour de France victory at Luz Ardiden 2021</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../public/img/whitewin.jpg">
      <img src="../public/img/whitewin.jpg" alt="YoungWinner" width="600" height="400">
    </a>
    <div class="desc">Jonas wearing white TdF maillote 2022</div>
  </div>
</body>
</html>