<body id="home">
  <div class="title-container">
    <h1>Welcome User</h1>
    <p>This is a quick introduction to Jonas Vingegaard</p>
  </div>
  <div class="main-container">
    <div class="rectangle">
      <a class="home" href="/">Home</a>
    </div>
    <div class="rectangle">
      <a class="home" href="/works">Works</a>
    </div>
    <div class="rectangle">
      <a class="home" href="/gallery">Gallery</a>
    </div>
    <div class="rectangle">
      <a class="home" href="/about">About</a>
    </div>
  </div>
</body>
