<body id="works">
  <a class="works" href="/">Home</a>
  <a class="works" href="/works">Works</a>
  <a class="works" href="/gallery">Gallery</a>
  <a class="works" href="/about">About</a>
  <a class="works" href="/riders">Riders</a>
  <h1>Top Results</h1>
<div class="stats">
  <h2>Top results</h2>
  <ul class="main-container">
    <li>GC Tour de France (2022)</li>
    <li>2x stage Tour de France (2022)</li>
    <li>2nd GC Tour de France (2021)</li>
    <li>KOM Tour de France (2022)</li>
    <li>Drôme Classic (2022)</li>
    <li>2nd GC Tirreno-Adriatico (2022)</li>
    <li>2nd GC Itzulia Basque Country (2021)</li>
    <li>2nd GC Critérium du Dauphiné (2022)</li>
    <li>GC Settimana Internazionale Coppi e Bartali (2021)</li>
    <li>1x stage Critérium du Dauphiné (2022)</li>
    <li>1x stage UAE Tour (2021)</li>
    <li>1x stage Tour de Pologne</li>
  </ul>
</div>
</body>