/* Font and General Elements */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 45px;
  
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

a.home {
  list-style: none;
  text-decoration: none;
  color: rgb(61, 129, 107);
}

a.works {
  list-style: none;
  text-decoration: none;
  color: rgb(26, 56, 46);
}

body#home {
  background-color: aquamarine;
  color: rgb(61, 129, 107);
  font-size: 50px;
} 

body#works {
  background-color: rgb(95, 196, 163);
  color: rgb(26, 56, 46);
} 

body#gallery {
  background-color: rgb(61, 129, 107);
  color: white;
} 

body#about {
  background-color: rgb(26, 56, 46);
  color: white;
} 

.title-container {
  margin-left: 300px;
  padding-top: 80px;
  font-style: italic;
  margin-right: 289px;
  font-size: 30px;
}

.main-container {
  margin-left: 300px;
  padding-top: 80px;
  font-style: italic;
  margin-right: 289px
}

.main-container .rectangle {
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 22px;
  width: 235px;
  height: 100px;
  border: 1px solid rgb(13, 97, 51);
  background-color: rgb(143, 221, 129);
  padding: 10px 10px 10px 100px;
  position: relative;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.main-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container {
  text-align: left;
}

.card {
  border: 2px solid #2f581e;
  background-color: #fcfcfc;
  margin-bottom: 20px;
  color: #2f581e;
  padding: 45px;
  width: 75%;
}

.imgstyle {
  width: 150px;
  height: 150px;
}